* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#container {
  width: 1024px;
  margin: 0 auto;
  display: flex;

  #mainWrapper {
    width: 69%;
    font-size: 0.8rem;

    h1 {
      height: 150px;
      margin-top: 160px;
      font-weight: normal;
      font-size: 3.75rem;
      .mainTitle {  
        font-weight: bold;          
      }
    }
  
    #itemsWrapper {
      height: 750px;
      margin-top: 5rem;
      margin-bottom: 9.6875rem;
      display: flex;
      flex-wrap: wrap;

      .item {
        pointer-events: visible ;
        margin: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #eeeeee;
        border-radius: 2rem;
        text-align: center;
        width: 170px;
        height: 190px;
        font-weight: bold;

        &.promo {
          background: #c7161e;
          color: white;
        }
        
        img {
          pointer-events: none;
         height: 6.25rem; 
        }
        
        p {
          pointer-events: none;
        }
      }
    }

    h2 {
      font-size: 3.75rem;
      height: 80px;
    }

    #popularWrapper {
      margin-top: 70px;
      display: flex;
      flex-wrap: wrap;

      .popularItem {
        margin: 1rem;
        text-align: center;
        font-weight: bold;

        img {
          pointer-events: none;
        }

        p {
          pointer-events: none;

          .price {
            color: #ffca40;
            font-size: 1.25rem;
            margin-top: 1.25rem;
            display: block;
          }
        }
      }
    }
  }




  aside {
    width: 31%;
    background: #fbfbf9;
    padding: 0 1.5625rem;

    .logo {
      display: flex;
      justify-content: flex-end;
    }

    h3 {
      margin-top: 160px;
      height: 150px;
      font-size: 1.25rem;
      font-weight: normal;
      line-height: 2.8rem;

      .titleAside {
        font-weight: bold;
        font-size: 2.0625rem;
      }
    }

    #orderList {
      height: 750px;
      margin-top: 5rem;
      margin-bottom: 9.6875rem;
      border-top: 1px solid #eaeae8;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      .itemOrder {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 0.8rem;
        font-weight: bold;
        border-bottom: 1px solid #eaeae8;
        margin-top: 1.875rem;

        img {
          width: 3.125rem;
        }

        p {
          line-height: 1.6rem;
          .itemOrderPrice {
            font-weight: normal;
            font-size: 1.25rem;
          }
        }

        div {
          margin-bottom: 20px;
          .minus {
            width: 26px;
            border-radius: 6px;
            border: 1px solid #eaeae8;
            background-color: white;
          }
  
          .countItem {
            width: 26px;          
            display: inline-block;
          }
  
          .plus {
            width: 26px;
            height: 18px;
            border-radius: 6px;
            border: none;
            background-color: #ffca40;
            line-height: 18px;
           }
        }
      }
    }

    #totalDone {
      padding-top: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-weight: normal;
        margin: 0;
        height: unset;
        border-top: 1px solid #eaeae8;
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 1.875rem;
        font-size: 1.25rem;
      }

      .globalOrder {
        font-weight: bold;
        font-size: 2.375rem;
      }

      button {
        background: #ffca40;
        border: none;
        padding: 3.75rem 3.125rem;
        font-size: 1.25rem;
        border-radius: 3.125rem;
        margin-top: 3.125rem;
      }
    }
  }

  .popUp{
    position: absolute;
    height: 100vh;
    width: 100wh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1024px) {
  #container {
    width: 90%;
    margin: 0 5%;

    #mainWrapper {
      width: 65%;

      #itemsWrapper {
        height: 50%;
      }

      h2 {
        font-size: 2.5rem;
      }
    }

    aside {
      width: 35%;
      padding: 0 0.5rem;

      #orderList {
        height: 50%;
      }

      #totalDone {
        button {
          padding: 2.75rem 2.125rem;
        }
      }
    }
  }
}